{% extends 'echo/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Личный кабинет</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.first_name.label_tag }} {{ form.first_name }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label_tag }} {{ form.last_name }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
